.certificate-container {
    height: 950px;
    background-image: url(../../public/images/moonbg.png); 
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .certificate-container h2{
    color: white;
    font-size: 50px;
  }
.certificate-images{
  display: flex;
  flex-direction: column;
}
.two-img{
  display: flex;
  flex-direction: row;  

}
  .cert-img{
    width: 480px;
    margin: 20px;
    transition: 1s;
    position: relative;
  }
  .two-img img:hover{
    /* background:  var(--clr); */
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr);
    color:  var(--clr);
    transition: 1s;
}
  .two-img img::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 300%;
    background: var(--clr);
    transition: 1s;
    animation: animate8 2s linear infinite;
}
.cert-img:hover::before{
    width: 120%;
}

@keyframes animate8{
    0%{
       transform: rotate(0deg);
    } 
    100% {
            transform: rotate(360deg);
        }
}

.cert-img::after{
  content: '';
  position: absolute;
  inset: 4px;
  background-color: rgb(220, 173, 244);
  transition: 0.5s;
}



  /* .slider-wrapper {
    max-width: 65rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  

  
  .slider-nav {
    display: flex;
    column-gap: 1rem;
    position: absolute;
    bottom: 8.4rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; 
  }
  
  .slider-nav a {
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.75;
    transition: ease 250ms;
  }
  
  .slider-nav a:hover {
    opacity: 1;
  }
  .slider-nav a:focus {
    outline: none;
  }
  
  .slider-nav a:target {
    opacity: 1;
  } */