/* .setup-container2{
    background-image: url(../../public/images/moonbg.png); 
    height: 960px;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
}

.setup-box{
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-color: rgba(255, 0, 238, 0.062);
    height: 500px;
    margin-top: 80px;
    padding: 40px;
    border-radius: 30%;
}

.setup-box h2{
    margin-top: 0;
    color: white;
    font-size: 50px;
    letter-spacing: 4px;
    font-weight: 800; 
    padding-top: 120px;
    object-fit: contain;

}
.setup-box p{
    color: white;
    font-size: 27px;
     width: 700px;
    object-fit: contain;
    text-align: center;

}
.setup-img{
    width: 600px;
   rotate: -45deg;
   transition: 1s;
   position: relative;
   overflow: hidden;
}

.setup-img:hover{
   transform: skewY(5deg);
}
.setup-img::before{
    content: '';
    position: absolute;
    width: 300px;
    height: 400%;
    background: rgba(230, 0, 255, 0.52);
    transition: 4s;
    animation: animateimg 8s linear infinite;
   
}
.setup-img:hover::before{
    width: 120%;
}
@keyframes animateimg{
    0%{
       transform: rotate(0deg);
    } 
    100% {
            transform: rotate(360deg);
        }
}
.setup-img::after{
    content: '';
    position: absolute;
    inset: 13px;
    background-image: url(../../public/images/mysetup2.jpg); 
    background-color: rgba(220, 173, 244, 0.965);
    transition: 10s;
}

.container-setup2{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(60, 13, 107);
}
.bubbles{
    display: flex;
}
.bubbles span{

    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(181, 9, 255);
    margin: 0 40px;
    border-radius:  50%;
    box-shadow: 0 0 10px rgb(255, 65, 249),
    0 0 50px rgba(255, 65, 249, 0.94),
    0 0 100px rgba(255, 65, 249, 0.999);
    animation: animatelights 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    animation-fill-mode: both;
}
.bubbles span:nth-child(even){
    background-color: rgba(144, 0, 255, 0.993);
    box-shadow: 0 0 10px rgba(144, 0, 255, 0.993),
    0 0 50px rgba(144, 0, 255, 0.993),
    0 0 100px rgba(144, 0, 255, 0.993);
}
@keyframes animatelights
{
    0%
    {
    transform: translateY(100vh) scale(0)
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
} */