.skills-container{
    height: 100vh;
    font-family: 'Karla', sans-serif;
    background: linear-gradient(45deg, rgb(91, 35, 128), rgb(41, 1, 60), black); 
    background-image: url(../../public/images/night-bg.png); 
}

.tools-text{
    color: white;
    font-size: 55px;
    margin-top: 0;
    padding: 90px;
    font-weight: 800;
}

.skills-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columnas de ancho flexible */
    grid-gap: 20px; /* Margen entre los divs */
    justify-content: center; 
    grid-auto-rows: minmax(0, 1fr);
    width: 870px;
    align-items: center;
    margin: auto; 
}
.skills-box{ 
    position: relative;
    background-color: rgb(64, 64, 64);
    width: 200px;
    height: 140px;
    color: white;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 1s;
    overflow: hidden;
}
.skills-box:hover{
    /* background:  var(--clr); */
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr);

    color:  var(--clr);
}

/* .skills-box:hover::after{
    background:  var(--clr);
} */
.skills-box::before{
    content: '';
    position: absolute;
    width: 40px;
    height: 400%;
    background: var(--clr);
    transition: 1s;
    animation: animate3 2s linear infinite;
}
.skills-box:hover::before{
    width: 120%;
}

@keyframes animate3{
    0%{
       transform: rotate(0deg);
    } 
    100% {
            transform: rotate(360deg);
        }
}
.skills-box::after{
    content: '';
    position: absolute;
    inset: 4px;
    background-color: rgb(220, 173, 244);
    transition: 0.5s;
}
 
.skills-box span{
    font-size: 16px;
    font-weight: 600;
    position: relative;
    z-index: 1;
    opacity: 1;
}
.skills-box .icon{
    z-index: 1;
    opacity: 1;
}
.icon span:hover{
    color: blue;
    box-shadow: 0 0 10px var(--clr),
    0 0 30px var(--clr),
    0 0 60px var(--clr),
    0 0 100px var(--clr);
}







/* .container{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(60, 13, 107);
}
.bubbles{
    position: relative;
    display: flex;
}
.bubbles span{
    position: relative;
    width: 20px;
    height: 20px;
    background-color: rgb(181, 9, 255);
    margin: 0 40px;
    border-radius:  50%;
    box-shadow: 0 0 10px rgb(255, 65, 249),
    0 0 50px rgba(255, 65, 249, 0.94),
    0 0 100px rgba(255, 65, 249, 0.999);
    animation: animatelights 15s linear infinite;
    animation-duration: calc(125s / var(--i));
    animation-fill-mode: both;
}
.bubbles span:nth-child(even){
    background-color: rgba(144, 0, 255, 0.993);
    box-shadow: 0 0 10px rgba(144, 0, 255, 0.993),
    0 0 50px rgba(144, 0, 255, 0.993),
    0 0 100px rgba(144, 0, 255, 0.993);
}
@keyframes animatelights
{
    0%
    {
    transform: translateY(100vh) scale(0)
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
} */